.nav{
    width: 100%;
  }
  .nav_bar{
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    padding: 10px;
    background-color: rgb(70, 25, 113);
  }
  